---
export interface Props {
  title?: string;
  description?: string;
}
const { title = 'Spider', description = 'Loganix Spider - SEO Outreach' } = Astro.props;
---
<!DOCTYPE html>
<html>
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="https://www.google.com/s2/favicons?domain=loganix.com" />
  </head>
  <body>
    <slot />
  </body>
</html>
