.config/
.directus.env
.env
.bash_history
.bash_logout
.bashrc
.data/
.docker/
.lesshst/
.npm/
.profile
.ssh/
temp/
worker/operations/__pycache__/
worker/__pycache__/
worker/pipeline/__pycache__/
worker/venv/

.vscode/dev/certs/
